 body {
            
     }

     .dropbtn {
         display: block;
        background-color:#ffff;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: groove;
      }
      /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-shadow: 10px 5px 10px grey;
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    position: fixed;
    width: 20vw;
    border-style:groove;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: black;
    border-radius: 100%;}


 
 .about {
     margin-left: 10vw;
     width: 100%;
     float: left;
     display: block;
     margin-bottom: 3vw;
     background-color: #ececec48;
     box-shadow: 5px 5px 10px gray;
     
 }
h1 {
    background-color: rgba(177, 174, 174, 0.205);
    text-align: center;
    margin-left: 0vw;
    font-size: 7vw;
    font-family: "Berkshire Swash", cursive;
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(10px + 3vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

h1::before,
h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

h1::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

h1::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

p {
    font-size: 2.0vw;
}
 .logo {
        background-color: black;
        border-radius: 100%;
        width: 95%;
        margin-left: 1.5vw;
        display: block;
        overflow: hidden;
 }
 a {
    color: black;
     text-decoration: none;
 }
 .home, .Artist1, .Artist2, .Artist3, .Aftercare {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
     margin-bottom: 1vw;
     overflow: hidden;
     -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.0s;
        box-shadow: 5px 5px 10px grey;
   
 }
 .Artist1-link, .Artist2-link, .Artist3-link {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 3vw;
     margin-bottom: 2vw;
     overflow: hidden;
     box-shadow: 10px 10px 10px grey;
     margin-left: 5vw;
 }

.home:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(7, 7, 7));
        color: white;
 }
 .Artist1:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(7, 7, 7));
        color: white;
 }
 .Artist2:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(7, 7, 7));
        color: white;
 }
 .Artist3:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(7, 7, 7));
        color: white;
 }
 .Aftercare:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(7, 7, 7));
        color: white;
 }
.Artist1-link:hover {
    color: Black;
}
 .container {
     display: block;
     height: 100%;
     width: 80%;
 }
 .artist {
     width: 100%;
 }
 
